

.nav-edit-profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 0;
}

.icon-home-logout-edit-profil {
    display: flex;
    gap: 15px;
}

.icon-logo-edit-profil img {
    width: 50px;
}


.icon-logout-edit-profil img {
    width: 25px;
}

.icon-home-edit-profil img {
    width: 25px;
}


.div-edit-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.update-img {
    position: relative;
}

.profil-picture {
    width: 200px;
    height: 200px;
    border-radius: 80%;
    object-fit: cover;
}

.update-img input {
    display: none;
}

.icon-edit {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.information-edit-profil {
    padding-top: 25px;

}

.information-edit-profil label, .information-edit-profil input {
    font-size: 20px;
    display: block;
}


.information-edit-profil label {
    text-align: center;
    padding: 10px 0;
}

.information-edit-profil input {
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 10px;
}

.btn-edit {
    padding: 10px;
    margin: 25px auto;
    font-size: 20px;
    border-radius: 5px; 
    /* border: none; */
    cursor: pointer;
    background-color: #CAB8FF;
    color: #000;
    display: block;
}

.information-profil {
    padding: 20px 0 10px 0;
}

.information-profil p {
    font-size: 20px;
    padding-top: 10px;
    font-weight: 600;
}

.btn-valid-edit {
    padding: 10px;
    margin: 25px auto;
    font-size: 20px;
    border-radius: 5px; 
    /* border: none; */
    cursor: pointer;
    background-color: #CAB8FF;
    color: #000;
    display: block;
}

a {
    text-decoration: none;
}

.btn-delete-profil {
    padding: 10px;
    margin: 25px auto;
    font-size: 20px;
    border-radius: 5px; 
    /* border: ; */
    cursor: pointer;
    background-color: #CAB8FF;
    color: #000;
    display: block;
}

.icon-check {
    display: inline;
    position: absolute;
    right: -30px;
    bottom: 8px;
    width: 24px;
}

.error-firstname-edit-profil {
    padding-top: 10px;
    text-align: center;
    color: #E94162;
}